#!/usr/bin/env ruby
require "sqlite3"

begin

  db = SQLite3::Database.open "db/study_history.db"

  rows = db.execute "CREATE TABLE IF NOT EXISTS StudyItems(Id INTEGER PRIMARY KEY, Name TEXT, Category TEXT)"

rescue SQLite3::Exception => e

    puts "Ocorreu uma Exceção"
    puts e

ensure
    db.close if db
end
